In [35]:
import pandas as pd
import json
import requests

In [36]:
username = '7f45ea45a1833ac7e127047a738e4264' # also the token
password = 'api_token'
URL = 'https://api.track.toggl.com/api/v8/workspaces'

response = requests.get(URL, auth = (username, password) )

In [37]:
thing = response.json()
type(thing)

list

In [38]:
id_ = thing[0]['id'] # go through other enties to get other workspaces
id_

4482767

In [39]:
URL = 'https://api.track.toggl.com/reports/api/v2/details?workspace_id=4482767&since=2020-08-1&until=2020-10-1&user_agent=aryaatharva18@gmail.com'
response = requests.get(URL, auth = (username, password) )
# response.json()

In [40]:

cols = [
#  'id',
#  'pid',
#  'tid',
#  'uid',
 'description',
 'start',
 'end',
 'updated',
 'dur',
#  'user',
#  'use_stop',
#  'client',
 'project',
#  'project_color',
 'project_hex_color'
#  'task',
#  'billable',
#  'is_billable',
#  'cur',
#  'tags'
]
from collections import defaultdict
df_raw = defaultdict(list)

In [41]:
ind = 1
data = []
data_in = [0]
while len(data_in) != 0:
    URL = URL + '&page=' + str(ind)
    response = requests.get(URL, auth = (username, password)).json()
    data_in = response['data']
    data += data_in
    for col in cols:
        for item in data_in:
            df_raw[col].append(item[col])
    ind += 1

In [77]:
df = pd.DataFrame.from_dict(df_raw)
df.head(4)

,description,start,end,updated,dur,project,project_hex_color
0,ED Assignment,2020-10-01T21:00:00+05:30,2020-10-01T22:00:00+05:30,2020-10-01T22:08:44+05:30,3600000,College Work,#525266
1,Hands on ML,2020-10-01T16:00:00+05:30,2020-10-01T18:00:00+05:30,2020-10-01T20:33:23+05:30,7200000,Books and Courses,#d92b2b
2,Hands on ML,2020-10-01T13:40:00+05:30,2020-10-01T14:40:00+05:30,2020-10-01T14:59:40+05:30,3600000,Books and Courses,#d92b2b
3,Hands on ML,2020-10-01T09:55:00+05:30,2020-10-01T11:55:00+05:30,2020-10-01T13:21:48+05:30,7200000,Books and Courses,#d92b2b

In [13]:
import datetime

In [43]:
(datetime.datetime(2020, 8, 7)-datetime.datetime.strptime(df['updated'].tolist()[-1].split("+")[0], '%Y-%m-%dT%H:%M:%S'))

datetime.timedelta(seconds=10333)

In [44]:
df['updated'].tolist()[-1].split("+")

['2020-08-06T21:07:47', '05:30']

In [78]:
dt = datetime.datetime.strptime(df['updated'].tolist()[-1].split("+")[0], '%Y-%m-%dT%H:%M:%S')
dt

datetime.datetime(2020, 8, 6, 21, 7, 47)

In [46]:
dt = (datetime.datetime.strptime(df['end'].tolist()[3].split("+")[0], '%Y-%m-%dT%H:%M:%S')-datetime.datetime.strptime(df['start'].tolist()[3].split("+")[0], '%Y-%m-%dT%H:%M:%S'))

In [79]:
# df_day_raw = defaultdict(list)
# cols = ['day', 'project', 'project_hex_color', 'dur']

In [75]:
df['start_day'] = [datetime.datetime.strptime(item.split("+")[0], '%Y-%m-%dT%H:%M:%S').date() for item in df['start'].tolist()]
df['end_day'] = [datetime.datetime.strptime(item.split("+")[0], '%Y-%m-%dT%H:%M:%S').date() for item in df['end'].tolist()]

In [76]:
df

,description,start,end,updated,dur,project,project_hex_color,start_day,end_day
0,ED Assignment,2020-10-01T21:00:00+05:30,2020-10-01T22:00:00+05:30,2020-10-01T22:08:44+05:30,3600000,College Work,#525266,2020-10-01,2020-10-01
1,Hands on ML,2020-10-01T16:00:00+05:30,2020-10-01T18:00:00+05:30,2020-10-01T20:33:23+05:30,7200000,Books and Courses,#d92b2b,2020-10-01,2020-10-01
2,Hands on ML,2020-10-01T13:40:00+05:30,2020-10-01T14:40:00+05:30,2020-10-01T14:59:40+05:30,3600000,Books and Courses,#d92b2b,2020-10-01,2020-10-01
3,Hands on ML,2020-10-01T09:55:00+05:30,2020-10-01T11:55:00+05:30,2020-10-01T13:21:48+05:30,7200000,Books and Courses,#d92b2b,2020-10-01,2020-10-01
4,Hands on ML,2020-09-30T20:55:00+05:30,2020-09-30T22:10:00+05:30,2020-10-01T01:17:55+05:30,4500000,Books and Courses,#d92b2b,2020-09-30,2020-09-30
...,...,...,...,...,...,...,...,...,...
402,DLS Course 2 Week 2,2020-08-10T11:08:49+05:30,2020-08-10T11:23:01+05:30,2020-08-10T11:23:07+05:30,852000,Books and Courses,#d92b2b,2020-08-10,2020-08-10
403,DLS Course 2 Week 2,2020-08-07T10:31:32+05:30,2020-08-07T10:56:32+05:30,2020-08-07T10:56:34+05:30,1500000,Books and Courses,#d92b2b,2020-08-07,2020-08-07
404,DLS Course 2 Week 2,2020-08-06T21:33:02+05:30,2020-08-06T21:53:25+05:30,2020-08-06T21:53:25+05:30,1223000,Books and Courses,#d92b2b,2020-08-06,2020-08-06
405,DLS Course 2 Week 2,2020-08-06T21:07:56+05:30,2020-08-06T21:32:56+05:30,2020-08-06T21:32:57+05:30,1500000,Books and Courses,#d92b2b,2020-08-06,2020-08-06
406,DLS Course 2 Week 2,2020-08-06T21:07:26+05:30,2020-08-06T21:07:29+05:30,2020-08-06T21:07:47+05:30,3000,Books and Courses,#d92b2b,2020-08-06,2020-08-06